@namespace AKSoftware.Components.Blazor

<div @attributes="UserAttributes">
	<svg viewBox="0 0 40 40" width="@Width" height="@Height" style="background-color: transparent;">

		<defs>
			@if (RingGradient != null)
			{
				<linearGradient id="@($"{_guid}-progress-ring-gradient")" x1="1" y1="0" x2="0" y2="1">
					<stop offset="0%" stop-color="@RingGradient.Value.FirstColor" />
					<stop offset="100%" stop-color="@RingGradient.Value.SecondColor" />
				</linearGradient>
			}

			@if (TrackRingGradient != null)
			{
				<linearGradient id="@($"{_guid}-track-ring-gradient")" x1="1" y1="0" x2="0" y2="1">
					<stop offset="0%" stop-color="@TrackRingGradient.Value.FirstColor" />
					<stop offset="100%" stop-color="@TrackRingGradient.Value.SecondColor" />
				</linearGradient>
			}
		</defs>

		<circle class="track-ring" cx="20" cy="20" r="15.91549430918954"
				stroke="@_trackStroke" stroke-alignment="center"></circle>

		<circle class="progress-ring" cx="20" cy="20" r="15.91549430918954"
				stroke="@_ringStroke" stroke-dasharray="@_dashesValue @_dashesSpace"></circle>

	</svg>
</div>