@namespace AKSoftware.Components.Blazor

<div style="width:@Width;height:@Width;position:relative;">
	<Ring Width="100%" Height="100%" MaxValue="@FirstMaxValue"
		  RingGradient="@OutsideRingGradient" 
		  Value="@FirstValue"
		  style="position:absolute;left:0;right:0;width:100%;height:100%"/>

	<Ring Width="100%" Height="100%" MaxValue="@SecondMaxValue"
		  RingGradient="@CenterRingGradient" 
		  Value="@SecondValue"
		  style="position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);width:68.5%;height:68.5%" />
		  
	<Ring Width="100%" Height="100%" MaxValue="@ThirdMaxValue"
		  RingGradient="@SmallRingGradient" 
		  Value="@ThirdValue"
		  style="position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);width:45%;height:45%" />
</div>